.footer {
    background-color: white;
    
}

.footer-wrapper {
    padding-top: 100px;
    width: 60%;
    margin: 0 auto;
}

.logo-and-subscribe {
    display: flex;
    justify-content: space-between;
}

.logo-and-title {
    display: flex;
    align-items: center;
}

.title {
    margin-left: 10px;
}

.title h1 {
    font-size: 23px;
    color: rgb(61, 61, 61);
}

.subscribe h1{
    color: rgb(49, 49, 49);
    font-weight: normal;
    margin-right: 73px;
}

.address-and-email {
    display: flex;
    align-items: center;
    padding-bottom: 70px;
    border-bottom: 0.1px solid rgb(168, 168, 168);
    justify-content: space-between;
}

.addresses ul li {
    display: inline-block;
    margin-right: 15px;
}

.addresses ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.4s;
}

.addresses ul li a:hover {
    color: #b99361;
}

.address-and-email {
    padding-top: 40px;
}

.placeholders {
    display: flex;
    align-items: center;
}

.email-placeholder input {
    padding: 15px 30px;
    margin-right: 10px;
    border-radius: 5px;
    border: 0.1px solid gray;
}

.email-placeholder input:focus {
    outline: none;
}

.email-placeholder input::placeholder {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 17px;
}

.button-holder button {
    padding: 15px;
    border: none;
    background-color: #b99361;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.social-container {
    display: flex;
    padding-bottom: 40px;
    padding-top: 40px;
    align-items: center;
    justify-content: space-between;
}

.social-container ul {
    list-style-type: none;
}

.allContact ul li {
    display: inline-block;
    margin-right: 10px;
}

.allContact ul li a {
    text-decoration: none;
    transition: color 0.4s;
    color: black;
}

.allContact ul li a:hover {
    color: #b99361;
}

.socails-logo ul li {
    display: inline-block;
    margin-right: 10px;
}
