<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" >
    <input type="text" name="bookname" placeholder="author">
    <input type="text" name="bookDescription" placeholder="author">
    <input type="text" name="views" placeholder="author">
    <input type="text" name="date" placeholder="author">
    <input type="text" name="readers" placeholder="author">
    <input type="text" name="author" placeholder="author">
    <button type="submit">ХАРАША</button>
</form>
</body>
</html>