.third_main_page {
    padding: 100px 0;
}

.the_best_books {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.best {
    text-transform: uppercase;
    width: fit-content;
    margin: 0 auto;
}

.best h1 {
    font-size: 17px;
    font-weight: 400;
    color: rgb(24, 24, 24);
    background-color: rgb(224, 224, 224);
    padding: 8px;
    
}

.best_title {
    width: 70%;
    padding: 25px 0;
    margin: 0 auto;
    font-size: 20px;
}

.best_description {
    width: 62%;
    margin: 0 auto;
    font-size: 16px;
}

.books-main-container {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 100px;
}

.books-container {
    width: 320px;
    position: relative;
    height: 570px;
    transition: transform 0.4s;
    margin: 0 auto;
    border-radius: 10px;
    border: 0.1px solid rgb(182, 182, 182);
}

.book-category h1 {
    font-size: 16px;
    padding: 5px;
    font-weight: normal;
    background-color: rgb(240, 240, 240);
}

.book-category  {
    width: fit-content;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.books-container-in {
    position: absolute;
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.book-image img{
    border-radius: 10px;
    
}

.book-description {
    width: 100%;
    margin: auto;
    text-align: center;
}

.book-title h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.books-container:hover {
    transform: scale(1.1);
}

.last-main-page {
    display: flex;
}

.top-site-for-riding-books-container {
    padding: 100px 0;
    width: 45%;
    background-color: #b99361;
}

.top-site-for-riding-books-string {
    width: 70%;
    text-align: left;
    font-weight: 500;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

.top-site-for-riding-books-button {
    margin-left: 115px;
    margin-top: 50px;

}

.top-site-for-riding-books-button button {
    padding: 15px 25px;
    border: none;
    font-weight: bold;
    background-color: white;
    color: #b99361;
    font-size: 15px;
    border-radius: 5px;
}

.read-books-fucking-stupid-man {
    width: 55%;
    position: relative;
    padding: 100px 0;
    background-color: black;
}

.sam-stupid {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
}

.top-site-for-riding-books-title h1{
    color: white;
    font-size: 24px;
    margin-top: 20px;
}

.top-site-for-riding-books-category h1 {
    color: rgb(161, 161, 161);
    font-size: 20px;
    margin-top: 5px;
    font-weight: 400;
}

.top-site-for-riding-books-description {
    color: rgb(179, 179, 179);
    margin-top: 15px;
    font-size: 16px;
    
}

.top-site-for-riding-books-image img {
    border-radius: 10px;
}